        <div class="wrapper clearfix">
            <div class="tips">
                <p>这是个提醒</p>
            </div>
            <div class="left">
                <ul>
                    <li><%= link_to "查看简历", :resumes %></li>
                    <li><%= link_to "创建简历", :new_resume %></li>
                    <li><%= link_to "创建PASSCODE", :new_access %></li>
                    <li><%= link_to "PASSCODE列表", :accesses %></li>
                    <li><a href="">访问统计</a></li>
                </ul>
            </div>
            <div class="right">
                <h2>登录</h2>
                <div class="right-content">
<%= form_for :user, url: :create_login_session  do |f| %>
    <p>邮箱</p>
    <p><%= f.text_field :email %></p>
    <p>密码</p>
    <p><%= f.password_field :password %></p>
    <p><%= f.submit "登录" %></p>
<% end %>
                </div>
            </div>
        </div>
