<h2>个人设置</h2>

<%= form_tag '/bind_wechat'  do |f| %>
    <p>WeChat二维码地址</p>
    <p>
        <%= text_field_tag :wechat %>
    </p>
    <p>Slack WebHook地址</p>
    <p>
        <%= text_field_tag :slack_webhook %>
    </p>
    <p>Slack Channel</p>
    <p>
        <%= text_field_tag :slack_channel %>
    </p>
    <p>
        <%= submit_tag "设置" %>
    </p>
<% end %>
